@font-face {
    font-family: Alagard;
    src: url(font/alagard.ttf);
}

* {
    font-family: Alagard;
    box-sizing: border-box;
    image-rendering: pixelated;
  
}

:root {
    --border: 16px solid #000;
    --border-image: url(img/ui__border.png) 16 repeat;
    
    /* font sizes:
        border of 16px: 1.6;
        border of 32px: 3.2rem;
        border of 64px: 4.8rem;
    */
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

input:disabled {
    color: inherit;
    background-color: inherit;
}

.header, .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 128px;
    
    /* Font-size that more closely matches the "aspect ratio" */
    font-size: 1.6rem;
    
    color: white;
    border: var(--border);
    border-image: var(--border-image);
}

.header__attributes, .footer__attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0 .5em;
    border: var(--border);
    border-image: var(--border-image);
    color: black;
    background: white url("") no-repeat left center;
}

    .attributes__text {
        padding-left: 1.25rem;
        display: inline-block;
        width: 30%;
        font-size: 1.6rem;
    }

    .attributes__input {
        width: 100%;
        font-size: 1.6rem;
        text-align: center;
        color: #000;
        background-color: inherit;
        border: none;
        padding: 0;
        margin: 0;
    }

    /* attributes */
        .attributes--level, .attributes--health, .attributes--attack, .attributes--defence, .attributes--agility, .attributes--crit {
            background: transparent url(./img/ui__icon--placeholder.png) no-repeat left center / 16px;
        }

        .attributes--level {
            background-image: url(./img/ui__icon--placeholder.png);
        }

        .attributes--health {
            background-image: url(./img/ui__icon--placeholder.png);
        }

        .attributes--attack {
            background-image: url(./img/ui__icon--placeholder.png);
        }

        .attributes--defence {
            background-image: url(./img/ui__icon--placeholder.png);
        }

        .attributes--agility {
            background-image: url(./img/ui__icon--placeholder.png);
        }

        .attributes--crit {
            background-image: url(./img/ui__icon--placeholder.png);
        }
    /* */

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 384px;
    height: calc(100vh - 256px);

    border: var(--border);
    border-image: var(--border-image);
}

    .main__attributes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

        .attributes__label--main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 80px;
            height: 96px;
            border: var(--border);
            border-image: var(--border-image);
        }

            .attributes__label--main > .attributes__text {
                padding: .8rem 0;
            }

                .attributes--attack {
                    background: transparent url(img/ui__icon--placeholder.png) no-repeat top center;
                }

                .attributes--defence {
                    background: transparent url(img/ui__icon--placeholder.png) no-repeat top center;
                }

                .attributes--agility {
                    background: transparent url(img/ui__icon--placeholder.png) no-repeat top center;
                }

    .main__levelup {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        min-height: 384px;
        height: calc(100vh - 256px);
        background-color: #fff;
        position: absolute;
        border: var(--border);
        border-image: var(--border-image);
    }

        .levelup__title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.6rem;
            margin: 0;
        }

            .levelup__title > span {
                width: 2em;
                text-align: center;
            }

        .levelup__attribute {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }


            .levelup__label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.6rem;
                width: 50%;
                border: var(--border);
                border-image: var(--border-image);
                text-transform: uppercase;
            }

                .levelup__label--text {
                    width: 3em;
                }

                .levelup__input {
                    width: 100%;
                    font-size: 1.6rem;
                    border: none;
                    padding: 0;
                    text-align: center;
                }
            
            .levelup__button {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 50px;
                min-width: 50px;
                font-size: 1.6rem;
                border: var(--border);
                border-image: var(--border-image);
            }
            
                .button--lower {
                    background: transparent url(img/ui__icon--alagard-minus.png) no-repeat center / 1.6rem;
                }
                
                .button--raise {
                    background: transparent url(img/ui__icon--alagard-plus.png) no-repeat center / 1.6rem;
                }

        .levelup__button--confirm {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            min-width: 50px;
            width: 50%;
            min-height: 50px;
            border: var(--border);
            border-image: var(--border-image);
            background-color: #fff;
        }

    .main__actors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        width: 240px;
    }

        .actor {
            height: 96px;
            width: 96px;

            border: var(--border);
            border-image: var(--border-image);
        }

            [data-actor="pc"] {
                background: lightgreen url(./img/hero.png) no-repeat center / 72px;
                background-color: lightgreen;
                image-rendering: pixelated;
            }

            [data-actor="npc"] {
                background: darkred url(./img/hero.png) no-repeat center / 72px;
                background-color: darkred;
                image-rendering: pixelated;
            }

/* Footer */

/* JavaScript classes */

.js-flex {
    display: flex;
}

@media screen and (min-width: 1920px) {

    .levelup__attribute {
        justify-content: space-evenly;
    }
    
}